name: Publish Binaries on Release

on:
  push:
    tags:
      - v*

jobs:
  release-kasautil:
    name: Release kasautil
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build kasautil
        run: make all
      - name: Release kasautil
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            kasautil-darwin-amd64
            kasautil-linux-amd64
            kasautil-linux-arm6
            kasautil-linux-arm7
            SHA1SUM.txt
            SHA256SUM.txt
